{
    "port": 8091,
    "httpTimeoutSeconds": 30,
    "cors": "",
    "apiBaseUrls": [
        { "label": "示例节点", "id": "cn-example", "url": "https://example.api-ipw.example.com/" }
    ],
    "IPLocationAPIs": [],
    "TCPing": { "DualStack": [], "IPv4": [], "IPv6": [] },
    "SpeedTest": { "DualStack": [], "IPv4": [], "IPv6": [] },
    "NSLookup": [],
    "apiKeys": {}
}
